body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

.site__branding {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: $color_header;
}

.site__navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: $color_background_nav;
	max-height: 50px;
}
.site__navigation p {
	color: $color_text_nav;
	padding-left: 40px;
	padding-right: 40px;
}

.site__navigation p:hover {
	border-bottom: 1px solid #e0dfd9;
}
.site__navigation:active {
	transform: scale(1.02);
}

.hero__titre {
	text-align: center;
}


